<h1>註冊帳號</h1>
<form method="POST" action="/auth/register">
  <div style="height: 30px">
    <span>帳號：</span>
    <input name="username" placeholder="帳號" required>
  </div>
  <div style="height: 30px">
    <span>密碼：</span>
    <input name="password" type="password" placeholder="密碼" required>
  </div>
  <button type="submit">註冊</button>
</form>
<p>已有帳號？<a href="/auth/login">登入</a></p>